@import "fonts";
@import "variables";
@import "icons";
html, body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 100%;
  background-color: $bg-color;
  color: $text-color;
}
.blue-theme{
  .navbar{
    background-color: $blue-theme-primary-color;
    .navbar-brand{
      color: $blue-theme-text-color;
    }
  }
}
.gray-theme{
  .navbar{
    background-color: $gray-theme-primary-color;
    & > a{
      color: $gray-theme-text-color;
    }
  }
}
.navbar{
  .dropdown-toggle:after{
    display: none;
  }
  .dropdown-toggle{
    width: 32px;
    height: 32px;
    background-color: $blue-theme-bg-color;
    border-radius: 50%;
    .icon{
      position: relative;
      top: -4px;
      left: 2px;
    }
    &:hover,
    &:active{
      background-color: #e9ecef;
    }
  }
  .dropdown-menu{
    left: auto;
    right: -0.2rem;
    top: 2.2rem;
  }
}
