/* Global */
$bg-color: #eee;
$text-color: #333;

/* Blue theme colors */
$blue-theme-primary-color: #007bff;
$blue-theme-text-color: #fff;
$blue-theme-bg-color: #fff;

/* Gray theme colors */
$gray-theme-primary-color: #ddd;
$gray-theme-text-color: #222;
